#about-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    font-size: 1.5rem;

    img {
        width: 400px;
        height: 400px;
        object-fit: contain;
        border-radius: 50%;
        align-self: center;
    }

    li {
        margin-bottom: 10px;
    }
}