@font-face {
    font-family: 'Sui Generis';
    src: url('../fonts/SuiGenerisRg-Regular.woff'),
        url('../fonts/SuiGenerisRg-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sui Generis';
    background-color: black;
    color: #50FFB1;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;

    nav {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: inherit;
                transition: all ease 0.2s;
            }

            a:hover {
                cursor: pointer;
                font-size: larger;
            }

            a:visited {
                color: #FE5F55;
            }
        }
    }
}

main {
    text-align: center;
    padding: 50px;
}

.welcome-message h1 {
    font-size: 3rem;
    color: #333;
    opacity: 0;
    transform: scale(0.5) rotate(-20deg) translateY(100px);
    animation: advancedEntrance 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.welcome-message p {
    font-size: 1.2rem;
    margin-top: 20px;
    opacity: 0;
    animation: fadeInUp 3s ease-in-out 1s forwards;
}

@keyframes advancedEntrance {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(-20deg) translateY(100px);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1) rotate(10deg) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@import './project';
@import './contact';
@import './about';