* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    width: 200px;
    height: 200px;
    text-align: center;
}

.App button {
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 5px;
}