.auth-container {
    background-color: white;
    font-size: 1.5rem;
    padding: 2%;
    margin: 50px 0;
    width: 40%;
    height: 100%;
    display: flex;
    gap: 10%;
    flex-direction: column;

    .form-group {
        input {
            padding: 10px;
            font-size: 1rem;
            margin: 10px 0;
            width: 100%;
        }
    }

    form button {
        padding: 10px;
        background-color: orange;
        border: none;
        border-radius: 20px;
        margin-top: 10px;
    }

    p {
        font-size: 0.9rem;
        padding: 10px;
    }

    p a, a {
        color: orange;
        text-decoration: none;
        font-size: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    #login-signup-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}