#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    #cart-container {
            width: 80%;
            background-color: white;
            padding: 10px;
    
            #price-heading {
                width: 100%;
                text-align: right;
            }
    
            .cart-item-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin: 10px 0;
                border-bottom: 1px solid black;

                .cart-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .in-stock {
                        color: green;
                    }
                    .low-stock {
                        color: red;
                    }
                }

                .cart-item-price {
                    margin-left: auto;
                    align-self: flex-start;
                }
            }

            .cart-total {
                width: 100%;
                text-align: right;
            }
        }
    #sub-total {
        align-self: flex-start;
        background-color: white;
        padding: 10px;
        font-size: 0.8rem;

        p {
            margin: 10px 0;
        }

        button {
            width: 100%;
            font-size: 0.6rem;
            border: none;
            background-color: #FFD814;
            padding: 5px;
            border-radius: 10px;
        }
    }
}

#cart-history {
    align-self: flex-start;
    width: 80%;
    margin-left: 4.35%;
    margin-top: 20px;
}