footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    #back-to-top {
        width: inherit;
        background-color: #485769;
        border: none;
        color: white;
        padding: 10px 0;

        &:hover {
            background-color: #485769a3;
        }
    }

    #link-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        background-color: #232F3E;
        padding: 20px 0;

        h5, li a {
            color: white;
        }

        .amazon-links {
            margin: 10px;
        }

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                font-size: 0.5rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    hr {
        color: white;
    }

    #bottom-language-select {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #232F3E;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 40px 0;

        #bottom-logo {
            height: 25px;
            width: 75px;
            margin-right: 40px;
            cursor: pointer;
        }

        #globe {
            width: 10px;
            height: 10px;
        }

        #indian-flag {
            width: 10px;
            height: 10px;
        }

        button , #bottom-lang{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border: 1px solid white;
            font-size: 0.6rem;
            height: 25px;
            padding: 5px;
            margin: 0 5px;
            background: transparent;
            color: white;
            cursor: pointer;

            span {
                display: flex;
                flex-direction: column;
                
                i {
                    font-size: 0.3rem;
                }
            }
        }

        #bottom-lang {
            position: relative;

            #shopping {
                    display: flex;
                    justify-content: center;
                    color: black;
                    text-wrap: wrap;
            
                    img {
                        margin-right: 5px;
                        width: 10px;
                        height: 10px;
                    }
                }

                #arrow-head, #language-options {
                    display: none;
                }

            #arrow-head {
                position: absolute;
                top: 22px;
                right: 6px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 8px solid #fff;
            }

            &:hover {
                #arrow-head, #language-options {
                    display: block;
                }
            }
        }

        #language-options {
            display: flex;
            flex-direction: column;
            width: 120px;
            background-color: white;
            border-radius: 3px;
            padding: 10px;
            font-size: 0.7rem;
            position: absolute;
            top: 30px;
            left: -2px;

            label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;
                margin: 5px 0;
                font-weight: bold;
                line-height: 1.1;
                font-size: 0.6rem;

                input {
                    margin-right: 5px;
                }

                input[type="radio"] {
                    display: grid;
                    place-content: center;
                    appearance: none;
                    -webkit-appearance: none;
                    width: 0.8rem;
                    height: 0.8rem;
                    border: 1px solid black;
                    border-radius: 50%;
                }

                input[type="radio"]::before {
                    content: '';
                    width: 0.4rem;
                    height: 0.4rem;
                    border-radius: 50%;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1em 1em orange;
                }

                input[type="radio"]:checked::before {
                    transform: scale(1);
                }

                input[type="radio"]:checked {
                    border-color: orange;
                }

                input[type="radio"]:checked+.language-links {
                    text-decoration: underline;
                    color: orange;
                }

                .language-links {
                    color: black;
                    text-decoration: none;
                    margin: 10px 0;
                }

                &:hover {
                    input[type="radio"] {
                        border-color: orange;
                    }

                    input[type="radio"]::before {
                        transform: scale(1);
                    }

                    .language-links {
                        text-decoration: underline;
                        color: orange;
                    }
                }
            }

            #learn-more,
            #change-country {
                display: block;
                text-align: center;
                text-decoration: none;
                margin: 5px 0;
            }

            #learn-more:hover,
            #change-country:hover {
                text-decoration: underline orange;
            }
        }
    }

    #bottom-links {
        width: 100%;
        background-color: #131A22;

        div {
            display: flex;
            justify-content: space-around;
            gap: 10px;
            margin: 10px 0;
            a {
                    text-decoration: none;
                    font-size: 0.6rem;
                    width: 80px;
                    margin: 5px;
                    color: grey;


                    .darktext {
                        color: white;
                        font-weight: 800;
                    }
            
                    &:hover {
                        text-decoration: underline;
                    }
                }
        }
    }

    #company-info , #copyright{
        background-color: #131A22;
        width: 100%;
        color: white;
        font-size: 0.5rem;
        text-align: center;
        padding: 5px;
    }

    #company-info a{
        text-decoration: none;
        color: white;
        padding: 5px;
    }
}