#hero-carousel-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 100px;

    #hero-carousel {
            width: 80%;
            height: 500px;
            position: relative;
    
            #carousel-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
    
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100px;
                background: linear-gradient(to bottom, transparent, white);
                pointer-events: none;
            }
    
            button {
                font-size: 2.5rem;
                background: transparent;
                padding: 50px 20px;
                border: none;
                color: white;
                border-radius: 1.5px;
                cursor: pointer;
                margin: 2px;
    
    
                &:active,
                &:focus {
                    outline: 2px solid white;
                    outline-offset: 1px;
                }
            }
    
            #carousel-previous {
                position: absolute;
                top: 0;
                left: 0;
                text-shadow: -2px 0 2px black;
            }
    
            #carousel-next {
                position: absolute;
                top: 0;
                right: 0;
                text-shadow: 2px 0 2px black;
            }
        }
}