* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amazon Ember Regular", sans-serif;
    font-weight: normal;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@import './header';
@import './navbar';
@import './carousel';
@import './footer';