* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amazon Ember Regular", sans-serif;
    font-weight: normal;
    width: 100%;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #5e5f5f3f;
}

@import './header';
@import './navbar';
@import './hero-carousel';
@import './products';
@import './search-result';
@import './product-details';
@import './histoyCarousel';
@import './cart';
@import './footer';
@import './layout/layout';